{
  "extends": [
    "stylelint-config-sass-guidelines"
  ],
  "rules": {
    "indentation": 4,
    "at-rule-no-unknown": [
      true,
      {
        ignoreAtRules: [
          "tailwind"
        ],
      },
    ],
  }
}
